body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.titulo{
    height: 7%;
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav {
    color: aliceblue;
}

header img {
    width: 90px;
    height: 65.9px;
}

.pola{
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.jeje{
    gap: 20px;
    width: 30%;
   height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}